.input-class {
  width: 80%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
} 

.label-class {
  padding: 7px 7px 7px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.achievements-wrapper {
  flex-basis: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
