.graph-view {
  display: flex;
  flex-direction: row;
  height: 500px;
  min-width: 0;
}

.graph-container {
  width: 70%;
  flex: 1 1 0;
  min-width: 0;
}

.choices-wrapper {
  width: 30%;
}

.choices-container {
  background-color: rgb(231, 228, 228);
  flex: 1 1 0;
  min-width: 0;
  overflow: auto;
  padding: 5px;
}

.choices-descriptions-wrapper {
  flex-basis: 100%;
}
