.mail,
.password,
.firstName,
.lastName,
.studentNumber,
.phoneNumber {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.login-button {
  margin: 3px;
}

.login-container{
  min-width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
    align-items: center;
}

